.card {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 10vw;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 10px;
    border: #000000 solid 1px;
    align-items: center;
    background: transparent 100%;
}

.cardRegular {
    border-radius: 10px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
}

.cardRed {
    border-radius: 10px;
    background: linear-gradient(90deg, #FF7373 0%, #ff0000 100%);
}