.markup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-self: center;
    flex-wrap: nowrap;
    grid-gap: 5px;
}

.listOfAsteroids {
    align-self: start;

}

.margin {
    width: 3%;
}
.topChoices {
    width: 920px;
    display: flex;
    flex-direction: row;
}
.topBorder {
    width: 920px;
    height: 1px;
    background-color: #000000;
}
.showDangerousOnly {

}
.distanceMode {
    margin-left: auto;
}

.gap {
    height: 1vw;
}
.distanceChooser {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}