.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: flex-start;
    grid-gap: 5px;

}

.listOfAsteroids {
    width: 920px;
    align-self: start;
}

.margin {
    width: 3%;
}
